.header-title {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  animation-name: slide-header;
  animation-timing-function: linear;
  animation-duration: 2s;
}

.nav-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
}

.nav-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.nav-button__selected {
  background-color: lightgray;
}

main {
  width: 500px;
  margin: 20px 0;
  padding: 20px 0;
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 80px;
}

.input-wrapper > div {
  display: flex;
  margin: 10px 0;
}

.input-wrapper label {
  display: block;
  width: 100px;
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.button-wrapper input {
  width: 100px;
  height: 30px;
}

.button__submit {
  background-color: lightgreen;
}

.button__cancel {
  background-color: lightcoral;
}

nav {
  width: 500px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
}

header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

@keyframes slide-header {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.item {
  border: 1px solid black;
  height: 400px;
  overflow: hidden;
}

.item-image {
  width: 200px;
  transition: all 2s ease-in-out;
}

.item-rotate:hover {
  transform: rotate(360deg);
}
.item-resize:hover {
  width: 100%;
}
